<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzumiya.mapper.UserMapper">
    <resultMap id="allUsers" type="User">
        <id column="id" property="id" />
        <result column="username" property="name" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="course_id" property="course_id"/>
        <association property="role" javaType="Role">
            <id column="role_id" property="id" />
            <result column="name" property="name" />
        </association>
        <association property="course" javaType="Course">
            <id column="course_id" property="id" />
            <result column="course_name" property="name" />
        </association>
    </resultMap>
    <select id="selectAll" resultMap="allUsers">
        select user.*,role.*,course.id as course_id,course.name as course_name
        from user left outer join course on user.course_id = course.id,role
    </select>
    <select id="selectAdminUser" resultMap="allUsers">
        select user.*,role.*,course.id as course_id,course.name as course_name
        from user left outer join course on user.course_id = course.id,role
        where user.role_id=role.id and user.course_id = #{s_id} and user.role_id = 1
    </select>
    <select id="selectByUid" resultMap="allUsers">
        select user.*,role.*,course.id as course_id,course.name as course_name
        from user left outer join course on user.course_id = course.id,role
        where user.role_id=role.id and user.id=#{uid}
    </select>
    <select id="userLogin" resultMap="allUsers">
        select user.*,course.id as course_id,course.name as course_name
        from user left outer join course on user.course_id = course.id
        where username=#{name} and password=#{password}
    </select>
</mapper>