<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.mapper.SubjectMapper">
    <resultMap id="subject" type="Subject">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="title" property="title" />
        <result column="professor" property="professor" />
        <result column="teaching_assistant" property="teaching_assistant" />
        <result column="unit" property="unit" />
        <result column="hours" property="hours"/>
        <result column="pre_req" property="pre_req" />
        <result column="co_req" property="co_req" />
        <result column="offer_unit" property="offer_unit" />
        <result column="description" property="description" />
<!--        <result column="prof_id" property="prof_id"/>
If use this way to check database table, it will  reveal the password-->

        <association property="course" javaType="Course">
            <id column="the_course_id" property="id" />
            <result column="name" property="name" />
            <result column="location" property="location" />
            <result column="introduction" property="introduction" />
        </association>
        <collection property="contents" ofType="Content" javaType="List">
            <id column="content_id" property="id" />
            <result column="content_id" property="content_id" />
            <result column="content_subject_id" property="subject_id" />
            <result column="content_title" property="title" />
            <result column="content_hours" property="hours" />
            <result column="content" property="content" />
        </collection>
        <collection property="textBooks" ofType="TextBook" javaType="List">
            <id column="textbook_id" property="id" />
            <result column="subject_id" property="subject_id" />
            <result column="textbook_title" property="title" />
            <result column="year" property="year" />
            <result column="author" property="author" />
        </collection>
        <collection property="tlss" ofType="Tls" javaType="List">
            <id column="tls_id" property="id" />
            <result column="tls_subject_id" property="subject_id" />
            <result column="tls_title" property="title" />
            <result column="tls_content" property="content" />
        </collection>
        <collection property="slos" ofType="Slo" javaType="List">
            <id column="slo_id" property="id" />
            <result column="slo_subject_id" property="subject_id" />
            <result column="slo_content" property="content" />
        </collection>
        <collection property="assessments" ofType="Assessment" javaType="List">
            <id column="assessment_id" property="id" />
            <result column="a_subject_id" property="subject_id" />
            <result column="a_method" property="method" />
            <result column="a_weighting" property="weighting" />
            <result column="a_description" property="description" />
        </collection>
        <collection property="cilos" ofType="Cilo" javaType="List">
            <id column="cilo_id" property="id" />
            <result column="cilo_subject_id" property="subject_id" />
            <result column="cilo_serial_number" property="serial_number" />
            <result column="cilo_title" property="title" />
            <result column="cilo_content" property="content" />
        </collection>
    </resultMap>
    <select id="selectAllSubjects" resultMap="subject">
        select subject.*,
               course.id as the_course_id,course.*,
               textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
               tls.id as tls_id, tls.subject_id as tls_subject_id, tls.content as tls_content,tls.title as tls_title, tls.*,
               slo.id as slo_id, slo.subject_id as slo_subject_id, slo.content as slo_content, slo.*,
               content.id as content_id,content.subject_id as content_subject_id,content.title as content_title,content.hours as content_hours,content.*,
               assessment.id as assessment_id,assessment.subject_id as a_subject_id,assessment.*,
               cilo.id as cilo_id,cilo.subject_id as cilo_subject_id,cilo.content as cilo_content,cilo.serial_number as cilo_serial_number,cilo.title as cilo_title,cilo.*
        from subject
                 left outer join course on subject.course_id = course.id
                 left outer join textbook on subject.id = textbook.subject_id
                 left outer join tls on subject.id = tls.subject_id
                 left outer join slo on subject.id = slo.subject_id
                 left outer join content on subject.id = content.subject_id
                 left outer join assessment on subject.id = assessment.subject_id
                 left outer join cilo on subject.id = cilo.subject_id
    </select>
    <select id="selectBySubjectId" resultMap="subject">
        select subject.*,
            course.id as the_course_id,course.*,
            textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
            tls.id as tls_id, tls.subject_id as tls_subject_id, tls.content as tls_content,tls.title as tls_title, tls.*,
            slo.id as slo_id, slo.subject_id as slo_subject_id, slo.content as slo_content, slo.*,
            content.id as content_id,content.subject_id as content_subject_id,content.title as content_title,content.hours as content_hours,content.*,
            assessment.id as assessment_id,assessment.subject_id as a_subject_id,assessment.*,
            cilo.id as cilo_id,cilo.subject_id as cilo_subject_id,cilo.content as cilo_content,cilo.serial_number as cilo_serial_number,cilo.title as cilo_title,cilo.*
        from subject
            left outer join course on subject.course_id = course.id
            left outer join textbook on subject.id = textbook.subject_id
            left outer join tls on subject.id = tls.subject_id
            left outer join slo on subject.id = slo.subject_id
            left outer join content on subject.id = content.subject_id
            left outer join cilo on subject.id = cilo.subject_id
            left outer join assessment on subject.id = assessment.subject_id
        where subject.id=#{id} and subject.course_id=course.id
    </select>
</mapper>