<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuration for properties -->
    <bean id="configPropertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:application.properties" />
    </bean>

    <bean id="templateResolver"
          class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="com/suzumiya/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML"/>
        <property name="cacheable" value="true"/>
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
        <property name="enableSpringELCompiler" value="true"/>
    </bean>


    <!-- Configuration for mybatis -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://${MySQLHost}:3306/rp" />
        <property name="username" value="${MySQLUser}" />
        <property name="password" value="${MySQLPass}" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.cfg.xml" />
    </bean>

    <!-- Configuration for redis -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="50" />
        <property name="maxIdle" value="50" />
        <property name="timeBetweenEvictionRunsMillis" value="30000" />
        <property name="minEvictableIdleTimeMillis" value="60000" />
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="host" value="127.0.0.1" />
        <constructor-arg name="port" value="6379" />
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
    </bean>

    <bean id="redisDao" class="com.suzumiya.dao.RedisDao">
        <property name="jedisPool" ref="jedisPool" />
    </bean>

    <!-- Settings for different Dao -->
    <bean id="userDao" class="com.suzumiya.dao.UserDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="subjectDao" class="com.suzumiya.dao.SubjectDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="courseDao" class="com.suzumiya.dao.CourseDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>


    <!-- Service Beans -->
    <bean class="com.suzumiya.service.UserService" id="userService">
        <property name="redisDao" ref="redisDao" />
        <property name="userDao" ref="userDao" />
    </bean>
    <bean class="com.suzumiya.service.SubjectService" id="subjectService">
        <property name="redisDao" ref="redisDao" />
        <property name="subjectDao" ref="subjectDao" />
    </bean>
    <bean class="com.suzumiya.service.CourseService" id="courseService">
        <property name="redisDao" ref="redisDao" />
        <property name="courseDao" ref="courseDao" />
    </bean>
</beans>